body {
  text-align: center;
  color:blueviolet;
  background-image: url("/images/backgroundimage.png");
}

.otherOutfits {
 display: flex;
 justify-content: center;
}

.items{
color:green;
padding: 30px;
margin : 15px;
}