body {
  text-align: center;
  /* color: blueviolet; */
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Darker Grotesque', sans-serif;
  /* background-image: url("/images/backgroundimage.png"); */
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.navigation {
  margin-top: 40px;
}

.navigation a {
  text-decoration: none;
  margin: 20px;
  color: black;
  font-size: 18px;
}


.main-outfit {
  margin: 30px;
}

.outfits-container {
 display: flex;
 justify-content: center;
}

.items{
  color:green;
  padding: 30px;
  margin : 15px;
}

img {
  max-width: 150px;
}

.outfit-block {
  margin: 30px;
  padding-top: 25px;
  border: solid #efe0e0 5px;
  box-shadow: 5px 10px #f3e77d;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.outfit-block:hover {
  box-shadow: 5px 10px #333;
}


.previous-outfits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.prev-outfit-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding-top: 25px;
  border: solid #efe0e0 5px;
  /* box-shadow: 5px 10px #f3e77d; */
  transition: box-shadow 0.3s ease-in-out;
  max-width: 1000px;
}

.prev-outfit-delete {
  cursor: pointer;
  padding-right: 20px;
}

.prev-outfit-item, .prev-outfit-date {
  padding: 0 30px;
}

.prev-outfit-date {
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.select-weather, .select-item {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.featured-outfit {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 80px;
}

.featured-outfit img {
  width: 400px;
}

.featured-text {
  margin-top: 100px;
}

.typegroup {
  display: flex;
  flex-wrap : wrap;
  justify-content: center;
}

.listimage {
  margin : 20px;
  
}

form {
  padding: 20px;
}

.select-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 25px;
}
